### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [157]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
#Get number of players
len(pd.unique(purchase_data["SN"]))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#Obtaing summary data
numpurchases=len(purchase_data["SN"])
nitimes=len(pd.unique(purchase_data["Item ID"]))
avgprice=purchase_data["Price"].mean()
Rev=numpurchases*avgprice

pursumdf=pd.DataFrame(data={"Purchases":[numpurchases],"Number of Unique Items":[numpurchases],"Average Price":[avgprice],"Number of Purchases":[nitimes],"Total  Revanue":[Rev]})


pursumdf.head()

3.050987179487176
2379.7699999999973

,Purchases,Number of Unique Items,Average Price,Number of Purchases,Total Revanue
0,780,780,3.050987,179,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
#creating datasets by gender
males_df=purchase_data.loc[purchase_data.Gender=='Male']
females_df=purchase_data.loc[purchase_data.Gender=='Female']
other_df=purchase_data.loc[purchase_data.Gender=='Other / Non-Disclosed']

#Calculating number of genders
c
females=len(pd.unique(females_df["SN"]))
other=len(pd.unique(other_df["SN"]))
#percent by gender
mp=males/len(pd.unique(purchase_data["SN"]))
fp=females/len(pd.unique(purchase_data["SN"]))
op=other/len(pd.unique(purchase_data["SN"]))

gendersum=pd.DataFrame(data={"Gender":["Male","Female","Other"],"Number":[males,females,other],"Percent":[mp,fp,op]})

gendersum.head()

   Gender  Number   Percent
0    Male     484  0.840278
1  Female      81  0.140625
2   Other      11  0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
#data for males
mcount=len(males_df["SN"])
mavgprice=round(males_df["Price"].mean(),2)
mRev=len(males_df["SN"])*mavgprice
mAtpp=round(mRev/males,2)

#data for females
fcount=len(females_df["SN"])
favgprice=round(females_df["Price"].mean(),2)
fRev=len(females_df["SN"])*favgprice
fAtpp=round(fRev/females,2)

#data for others
ocount=len(other_df["SN"])
oavgprice=round(other_df["Price"].mean(),2)
oRev=len(other_df["SN"])*mavgprice
oAtpp=round(oRev/other,2)


gendersum=pd.DataFrame(data={"Gender":["Male","Female","Other"],"Purchase Count":[mcount,fcount,ocount],"Average Purchase Price":[mavgprice,favgprice,oavgprice],"Total Purchase Value":[mRev,fRev,oRev],"Avg  Total Purchase by Person":[mAtpp,fAtpp,oAtpp]})
gendersum.head(3)

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase by Person
0,Male,652,3.02,1969.04,4.07
1,Female,113,3.20,361.60,4.46
2,Other,15,3.35,45.30,4.12

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [77]:
#creaing bins based off age
bins=[0,9,14,19,24,29,34,39,200]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)

#dataframes for each agegroup
a1=purchase_data.loc[purchase_data.Age_Group=='<10']
a2=purchase_data.loc[purchase_data.Age_Group=='10-14']
a3=purchase_data.loc[purchase_data.Age_Group=='15-19']
a4=purchase_data.loc[purchase_data.Age_Group=='20-24']
a5=purchase_data.loc[purchase_data.Age_Group=='25-29']
a6=purchase_data.loc[purchase_data.Age_Group=='30-34']
a7=purchase_data.loc[purchase_data.Age_Group=='35-39']
a8=purchase_data.loc[purchase_data.Age_Group=='40+']


#lengh for each age group
a1l=len(pd.unique(a1["SN"]))
a2l=len(pd.unique(a2["SN"]))
a3l=len(pd.unique(a3["SN"]))
a4l=len(pd.unique(a4["SN"]))
a5l=len(pd.unique(a5["SN"]))
a6l=len(pd.unique(a6["SN"]))
a7l=len(pd.unique(a7["SN"]))
a8l=len(pd.unique(a8["SN"]))

agesummary=pd.DataFrame(data={"Age_Group":group_names,"Total Count":[a1l,a2l,a3l,a4l,a5l,a6l,a7l,a8l],"Percent of Players":[a1l/len(pd.unique(purchase_data["SN"])),a2l/len(pd.unique(purchase_data["SN"])),a3l/len(pd.unique(purchase_data["SN"])),a4l/len(pd.unique(purchase_data["SN"])),a5l/len(pd.unique(purchase_data["SN"])),a6l/len(pd.unique(purchase_data["SN"])),a7l/len(pd.unique(purchase_data["SN"])),a8l/len(pd.unique(purchase_data["SN"]))]})

agesummary.head(8)

  Age_Group  Total Count  Percent of Players
0       <10           17            0.029514
1     10-14           22            0.038194
2     15-19          107            0.185764
3     20-24          258            0.447917
4     25-29           77            0.133681
5     30-34           52            0.090278
6     35-39           31            0.053819
7       40+           12            0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
#data  by group
a1count=len(a1["SN"])
a1avgprice=round(a1["Price"].mean(),2)
a1Rev=len(a1["SN"])*a1avgprice
a1Atpp=round(a1Rev/a1l,2)

a2count=len(a2["SN"])
a2avgprice=round(a2["Price"].mean(),2)
a2Rev=len(a2["SN"])*a2avgprice
a2Atpp=round(a2Rev/a2l,2)

a3count=len(a3["SN"])
a3avgprice=round(a3["Price"].mean(),2)
a3Rev=len(a3["SN"])*a3avgprice
a3Atpp=round(a3Rev/a3l,2)

a4count=len(a4["SN"])
a4avgprice=round(a4["Price"].mean(),2)
a4Rev=len(a4["SN"])*a4avgprice
a4Atpp=round(a4Rev/a4l,2)

a5count=len(a5["SN"])
a5avgprice=round(a5["Price"].mean(),2)
a5Rev=len(a5["SN"])*a5avgprice
a5Atpp=round(a5Rev/a5l,2)

a6count=len(a6["SN"])
a6avgprice=round(a6["Price"].mean(),2)
a6Rev=len(a6["SN"])*a3avgprice
a6Atpp=round(a6Rev/a6l,2)

a7count=len(a7["SN"])
a7avgprice=round(a7["Price"].mean(),2)
a7Rev=len(a7["SN"])*a7avgprice
a7Atpp=round(a7Rev/a7l,2)

a8count=len(a8["SN"])
a8avgprice=round(a8["Price"].mean(),2)
a8Rev=len(a8["SN"])*a8avgprice
a8Atpp=round(a8Rev/a8l,2)

agepurchsummary=pd.DataFrame(data={"Age_Group":group_names,"Purchase Count":[a1count,a2count,a3count,a4count,a5count,a6count,a7count,a8count],"Average Purchase Price $s":[a1avgprice,a2avgprice,a3avgprice,a4avgprice,a5avgprice,a6avgprice,a7avgprice,a8avgprice],"Tottal Purchase Value $s":[a1Rev,a2Rev,a3Rev,a4Rev,a5Rev,a6Rev,a7Rev,a8Rev],"Avg Total Purchase per Person $s":[a1Atpp,a2Atpp,a3Atpp,a4Atpp,a5Atpp,a6Atpp,a7Atpp,a8Atpp]})
agepurchsummary.head(8)

,Age_Group,Purchase Count,Average Purchase Price $s,Tottal Purchase Value $s,Avg Total Purchase per Person $s
0,<10,23,3.35,77.05,4.53
1,10-14,28,2.96,82.88,3.77
2,15-19,136,3.04,413.44,3.86
3,20-24,365,3.05,1113.25,4.31
4,25-29,101,2.90,292.90,3.80
5,30-34,73,2.93,221.92,4.27
6,35-39,41,3.60,147.60,4.76
7,40+,13,2.94,38.22,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [110]:
#adds topether individual purchses by sn
topfinder=purchase_data[["SN","Price"]]
topfinder2=topfinder.groupby("SN").Price.sum().reset_index()
#gets the otop five sopendders then finds number of of orders for each
topfinder3=topfinder2.nlargest(5,"Price")
l1=len(purchase_data.loc[purchase_data.SN=='Lisosia93'])
l2=len(purchase_data.loc[purchase_data.SN=='Lisosia93'])
l3=len(purchase_data.loc[purchase_data.SN=='Lisosia93'])
l4=len(purchase_data.loc[purchase_data.SN=='Lisosia93'])
l5=len(purchase_data.loc[purchase_data.SN=='Lisosia93'])
numberofpurch=[l1,l2,l3,l4,l5]
#setting las few variables
topfinder4=topfinder3.rename({"Price":"Total Purchace Amount $s"},axis="columns")
topfinder4["Number of Purchases"]=numberofpurch
topfinder4["Average Purchase $s"]=topfinder3["Price"]/numberofpurch


topfinder4.head()

,SN,Total Purchace Amount $s,Numver of Purchases,Average Purchase $s
360,Lisosia93,18.96,5,3.792
246,Idastidru52,15.45,5,3.090
106,Chamjask73,13.83,5,2.766
275,Iral74,13.62,5,2.724
281,Iskadarya95,13.10,5,2.620

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [173]:
#renaming a column that caused issues
purchase_data.rename(index={5: "Iem Name"})
#most of this istthe same as above
top5=purchase_data["Item ID"].value_counts()[:5].index.tolist()

topitem1=purchase_data[purchase_data["Item ID"].isin(top5)]


countlist=[]
#more efficient/general way get number.  of purchases
for item in top5:
    count=len(purchase_data.loc[lambda purchase_data: purchase_data["Item ID"]==item])
    countlist.append(count)


topitem2=topitem1[["Item Name","Item ID","Price"]]
topitem3=topitem2.groupby(["Item ID","Item Name"]).Price.sum().reset_index()

topitem4=topitem3.rename({"Price":"Total Purchace Amount $s"},axis="columns")
topitem4["Number of Purchases"]=countlist
topitem4["Average Price"]=topitem4["Total Purchace Amount $s"]/countlist
print(topitem4)

   Item ID                                     Item Name  \
0       82                                       Nirvana
1       92                                  Final Critic
2      108     Extraction, Quickblade Of Trembling Hands
3      132                                    Persuasion
4      178  Oathbreaker, Last Hope of the Breaking Storm

   Total Purchace Amount $s  Number of Purchases  Average Price
0                     44.10                   13       3.392308
1                     59.99                   12       4.999167
2                     31.77                    9       3.530000
3                     28.99                    9       3.221111
4                     50.76                    9       5.640000

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [179]:
#mostly same as above
profititem1=purchase_data.groupby(["Item ID","Item Name"]).Price.sum().reset_index()
profititem2=profititem1.nlargest(5,"Price")

countlist=[]
for item in profititem2["Item ID"]:
    count=len(purchase_data.loc[lambda purchase_data: purchase_data["Item ID"]==item])
    countlist.append(count)

    
profitem3=profititem2.rename({"Price":"Total Purchace Amount $s"},axis="columns")
profitem3["Number of Purchases"]=countlist
profitem3["Average Price"]=topitem4["Total Purchace Amount $s"]/countlist
print(topitem4)

   Item ID                                     Item Name  \
0       82                                       Nirvana
1       92                                  Final Critic
2      108     Extraction, Quickblade Of Trembling Hands
3      132                                    Persuasion
4      178  Oathbreaker, Last Hope of the Breaking Storm

   Total Purchace Amount $s  Number of Purchases  Average Price
0                     44.10                   13       3.392308
1                     59.99                   12       4.999167
2                     31.77                    9       3.530000
3                     28.99                    9       3.221111
4                     50.76                    9       5.640000